.hero-image {
    border: solid grey; 
    height: 400px;
    background-image:url('../Images/pexels-muhammad-amdad-hossain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}
.hero-text {
    text-align: center;
    padding-top: 50px;
    color: #F2F2F2;
}
.hero-text button {
    color: #2F513F;
    background-color:#F2F2F2 ;
}
.nav {
    background-color: beige;
    height: 50px;
    justify-content: center;
    align-items: center;
}   
.container {
    justify-content: left;
    
}
.thumbnail {
    background-color: #2F513F;
    height: 150px;
    width: 150px;
}
.title {
    border: red solid;
}
.tickets {
    text-align: center;
    border-top: solid rgb(227, 224, 224);
    border-bottom: solid rgb(227, 224, 224);
    
}
.venue {
    height: 100%;
}

.box2 {
    border: solid grey; 
    height:100%;
    background-image:url('../Images/pexels-muhammad-amdad-hossain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
   
}

